*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    border: none;
    box-shadow: 10px 10px 15px rgb(147, 118, 46);
    padding: 20px;
    background-color: rgb(121, 119, 128);
    margin: 100px;
    height: 450px;
    width: 400px;
    text-align: center;
}

form h3{
    text-align: center;
    margin-bottom: 20px;
    /* text-decoration: underline black; */
    background-color: rgb(224, 175, 52);
    padding: 10px;
    font-size: 20px;
    border-radius: 0;
}

form input {
    margin: 10px;
    padding: 5px;
    border: none;
    background-color: bisque;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    color: rgb(25, 3, 63);

}

form label{
    font-size: 20px;
}
#message{
    background-color: bisque;
    margin-top: 5px;
}
.Rate{
    font-size: 18px;
    margin-top: 10px;
}
.message {
    margin-top: 15px;
    font-size: 16px;
}
#rating{
    background-color: rgb(235, 202, 14);
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}
#rating:hover{
    background-color: rgb(22, 190, 56);
}
select option {
    background-color: rgb(110, 223, 227);
}
button{
    padding: 5px 15px 5px;
    margin : 20px 30px 5px;
    background-color: rgb(21, 230, 10);
    border: none;
    border-radius: 3px ;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
#reset{
    background-color: rgb(222, 22, 15);
}
#reset:hover{
    background-color: rgb(207, 60, 207);
}
button:hover{
    background-color: rgb(34, 130, 220);
}
textarea {
    text-align: center;
    padding: 5px;
} 